.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.title{
  margin-bottom: 30px;
}

.link{
  margin: 20px;
}

.button{
  padding: 10px 30px;
}